<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<title>{{pageTitle}}</title>
	</head>

	<body>
	<h2>This is the About page</h2>
	<p>You can see all the info you need in this page!</p>
	</body>

	{{> footer}}
</html>